<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="/public/icons/icon_portfolio.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../css/font-ubuntu.css">
</head>

<body>
    <header class="ubuntu-bold header-about-me">
        <h1>About Me.</h1>
        <nav class="nav-about-me">
            <section><a href="../../index.html">Return to Home</a></section>
        </nav>
    </header>
    <main id="main-about-me" class="ubuntu-regular">
        <div class="text-box">
            <p id="p-main-index">Hola! Soy David. Soy un desarrollador Senior con experiencia en Python, Html y Css lo
                que me ha permitido desarrolar apis para diferentes segmentos de empresas a
                nivel nacional e internacional. <br>
                Actualmente trabajo como freelancer desarrolando proyectos a medida mientras estoy
                organizando una startup enfocada en desarrollo.
            </p>
        </div>
    </main>
</body>


</html>