<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/contacts.css">
    <link rel="shortcut icon" href="/public/icons/icon_portfolio.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../css/font-ubuntu.css">
</head>

<body>
    <header class="ubuntu-bold">
        <h1>Contact.</h1>
        <a href="../../index.html">Ir a Home</a>
    </header>

<main>
    <form action="#" class="ubuntu-regular">
        <h2>Contact me</h2>
        <input class="ubuntu-regular" type ="text" placeholder="Name" required>
        <input class="ubuntu-regular" type ="email" placeholder="Email" required>
        <input class="ubuntu-regular" type ="text" placeholder="Comment" required>
        <button class="ubuntu-regular" type="submit">Send Info</button>



    </form>
</main>

<footer>

</footer>

</body>

</html>